Options -Indexes


RewriteEngine On


RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]


RewriteRule ^([-a-zA-Z0-9]+)$ index.php?ruta=$1 [L]


RewriteRule ^ap/(.*)$ index.php [QSA,L]


RewriteRule ^ index.php [QSA,L]
